* {
    box-sizing: border-box;
    list-style: none;
    margin: 0;
    padding: 0;
    font-family: 'Fira Sans', sans-serif; 
}

html, body {
    width: 100%;
    height: 100vh;
}

.wrapper {
    width: 96%;
    max-width: 1200px;
    padding: 0 2%;
    margin: 0 auto;
}

header {
    width: 100%;
    background: rgb(63, 167, 229);
    padding: 10px 120px;
}
#header-wrapper {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#header-logo {
    height: 85px;
    width: auto;
}
#nav-list {
    display: flex;
    align-items: center;
}

.fa-twitter, .fa-facebook {
    color: #fff;
    font-size: 25px;
    padding-right: 12px;
}
.fa-money-bill-wave {
    font-size: 13px;
    padding-right: 4px;
    transform: rotateZ(-35deg) translateY(-3px);
}
#donate-btn {
    font-size: 18px;
    background: rgb(243, 83, 85);
    border: 1px solid rgb(242, 71, 74);
    border-radius: 5px;
    color: #fff;
    padding: 15px 30px;
}
main {
    width: 100%;
    background: url("./Links/18604371049_c3763aa154_o.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 50vh;
    min-height: 400px;
}

#main-wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
#headshot {
    height: 600px;
    transform: translate(-50px, 90px);
}
h1 {
    font-size: 40px;
    font-weight: 800;
    color: rgb(25, 118, 174);
    margin-bottom: 20px;
}
h1 > span {
    color: rgb(63, 167, 229);
}
form {
    background: rgba(255, 255, 255, .9);
    padding: 15px;
    border-radius: 3px;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
}
form > h2 {
    font-size: 22px;
    font-weight: 800;
    color: rgb(63, 167, 229);
}
form > p {
    font-size: 11px;
    font-weight: 100;
    margin: 12px 0;
}
input {
    padding: 10px;
    margin-right: 5px;
    border: 1px solid #ddd;
}
form button {
    font-size: 14px;
    background: rgb(245, 126, 71);
    color: #fff;
    padding: 9px 20px;
    border: 1px solid rgb(245, 126, 71);
    border-radius: 3px;
}
.fa-chevron-right {
    font-size: 10px;
}
#zip {
    width: 70px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #aaa;
    font-size: 12px;
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #aaa;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: #aaa;
  }

footer {
    height: 39vh;
    background: rgb(25, 118, 174);
}
#footer-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
#footer-logo {
    width: 120px;
    margin: 40px 0 15px 0;
}
footer p {
    color: #fff;
    font-size: 10px;
}
#privacy-policy-link {
    color: #fff;
}
#white-border {
    border: 1px solid #fff;
    padding: 2px 30px;
    margin-top: 15px;
}

@media only screen and (max-width: 790px) {
    header {
        padding: 0;
    }
    #donate-btn {
        border-radius: 0;
    }
    .main-wrapper {
        flex-direction: column;
    }
    #headshot {
        display: none;
    }
    #header-wrapper {
        flex-direction: column;
        width: 100%;
    }
    #header-logo {
        margin-bottom: 10px;
        padding-top: 10px;
    }
    nav {
        background: rgb(25, 118, 174);
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .wrapper {
        padding: 0;
    }
    main {
        height: 46vh;
        min-height: 350px;
    }
}